@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About The Medicator";
    ViewBag.Message = "Dedicated to enhancing your health and wellness journey.";
}

<!-- Latest Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" />


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card p-4 shadow-sm">
                <h2 id="title" class="display-5 fw-bold">@ViewBag.Title</h2>
                <p class="lead">@ViewBag.Message</p>

                <section class="my-5">
                    <h3 class="fw-bold">Our Mission</h3>
                    <p>"Our mission at The Medicator is to revolutionize the way individuals access healthcare products and services online. Committed to delivering authentic, high-quality medicines, we connect customers with trusted sellers, ensuring safety and reliability in every transaction. Harnessing the power of cutting-edge technology, we offer an innovative platform where users can effortlessly identify medications through prescription recognition, browse an extensive catalog of healthcare products, and receive personalized AI-driven assistance. This AI support extends beyond just medicine selection, providing valuable guidance on selecting the appropriate healthcare professional for specific medical needs. We strive to streamline the healthcare journey, making it more convenient, informed, and accessible for everyone. Our dedication lies in simplifying the complex process of obtaining medicines and healthcare advice, thus empowering our customers to make better health decisions with ease and confidence."</p>
                </section>

                <section class="my-5">
                    <h3 class="fw-bold">Our Developers</h3>
                    <ul class="list-unstyled">
                        <li class="my-2">
                            <i class="bi bi-person-fill"></i> Aditya Kadam - 52206191
                        </li>
                        <li class="my-2">
                            <i class="bi bi-person-fill"></i> Shaan Kevin S - 522066764
                        </li>
                        <li class="my-2">
                            <i class="bi bi-person-fill"></i> Anshika Maurya - 52197111
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}
