@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact Us";
    ViewBag.Message = "We're here to help and answer any question you might have. We look forward to hearing from you.";
}

<!-- Latest Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" />


<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm p-4">
                <h2 id="title" class="display-5 fw-bold">@ViewBag.Title</h2>
                <p class="lead">@ViewBag.Message</p>
                <hr />
                <address>
                    <strong>Headquarters:</strong><br />
                    HCL Tech Sec. 60<br />
                    Noida, India - 201301<br />
                    <abbr title="Phone">Ph:</abbr> +91 7768084382
                </address>

                <address>
                    <strong>Support:</strong> <a href="mailto:Support@example.com">aditya.kadam@hcl.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </address>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}
