
@{
    ViewBag.Title = "Medicator Home";

}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/MyStyle.css" rel="stylesheet" />

<div class="container mt-5">
    <h2 class="text-center">Start Your Journey with The Medicator!</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6 text-center">
            <div class="btn-group" role="group" aria-label="User Actions">
                @Html.ActionLink("Signup", "SellerSignup", "Seller", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Login", "SellerLogin", "Seller", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    </div>
</div>
